html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.photos {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.photos .slick-slide {
    margin: 0 10px;
    color: black;
}

.photos .slick-list {
    margin: 0 -10px;
}
.photos img {
    border-radius: 15%;
    width: 100%;
    height: auto;
}

.slick-dots {
    transform: scale(1.3);
}

.photos .slick-arrow {
    transform: scale(1.3);
    margin: 0 -10px;
    color: black;
}


.slick-prev::before {
    color: black; /* изменяет цвет стрелки */
}

/* Цвет для стрелки "вперёд" */
.slick-next {
    color: black;
}

.slick-next::before {
    color: black;
}
